<div class="container text-center" style="margin-top: 70px;">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h1 class="text-uppercase">Bienvenido a Stack</h1>
        </div>
        <div class="card-body">
          <p class="lead">Gestiona tus clientes, productos y categorías de manera eficiente con nuestra plataforma.</p>
          <a href="/list" class="btn btn-primary">Ver Clientes</a>
          <a href="/productos/list" class="btn btn-secondary">Ver Productos</a>
          <a href="/categoria/list" class="btn btn-info">Ver Categorías</a>
        </div>
      </div>
    </div>
  </div>
</div>
